<!-------------------->
<!--    Home Team   -->
<div class="team-info">
    <h3>Home Team</h3>
    <div style="padding-bottom:10px;">
        Timeouts
        <br />
        <button (click)="updateHomeTimeouts(-1)" class='game-btn'>-</button>
        <input class="game-input"
            #homeTeamTimeouts
            type="text"
            [value]="homeTimeouts"
            style="width:20px; text-align: center;"
            disabled="disabled">
        <button (click)="updateHomeTimeouts(1)" class='game-btn'>+</button>
    </div>
    <div style="padding-bottom:10px;">
        Score
        <br />
        <div class="score-btn" (click)="updateHomeScore(1)">1</div>
        <div class="score-btn" (click)="updateHomeScore(2)">2</div>
        <div class="score-btn" (click)="updateHomeScore(3)">3</div>
        <div class="score-btn" (click)="updateHomeScore(6)">6</div>
        <br />
        <div class="score-btn" (click)="updateHomeScore(-1)">-1</div>
        <div class="score-btn" (click)="updateHomeScore(-2)">-2</div>
        <div class="score-btn" (click)="updateHomeScore(-3)">-3</div>
        <div class="score-btn" (click)="updateHomeScore(-6)">-6</div>
    </div>
</div>
<!-------------------->
<!--    Game Info   -->
<div class="game-info">
    <h3>Game Information</h3>
    <div style="padding-bottom:10px;">
        Game Clock
        <input class="game-input"
            type="text"
            [value]="gameClock"
            style="width:50px; text-align: center;"
            disabled="disabled">
        <button *ngIf="!gameClockPaused" (click)="pauseGameClock()" class="game-btn clock-btn">Pause</button>
        <button *ngIf="gameClockPaused" (click)="pauseGameClock()" class='game-btn clock-btn'>Start</button>
        <input class="game-input"
            #setGameClock
            type="text"
            [value]="gameClock"
            style="width:50px; text-align: center;"
            (blur)="updateGameClock(setGameClock.value)">
    </div>
    <div style="padding-bottom:10px;">
        Play Clock
        <input class="game-input"
            type="text"
            [value]="playClock"
            style="width:20px; text-align: center;"
            disabled="disabled">
        <button *ngIf="playClockPaused" (click)="pausePlayClock()" class='game-btn clock-btn'>Start</button>
        <button *ngIf="!playClockPaused" (click)="resetPlayClock()" class='game-btn clock-btn'>Reset</button>
    </div>
    <div style="padding-bottom:10px;">
        Quarter
        <button (click)="updateQuarter(-1)" class='game-btn'>-</button>
        <input class="game-input"
            type="text"
            [value]="quarter"
            style="width:20px; text-align: center;"
            disabled="disabled">
        <button (click)="updateQuarter(+1)" class='game-btn'>+</button>
    </div>
    <div style="padding-bottom:10px;">
        Downs
        <button (click)="updateDowns(-1)" class='game-btn'>-</button>
        <input class="game-input"
            type="text"
            [value]="downs"
            style="width:20px; text-align: center;"
            disabled="disabled">
        <button (click)="updateDowns(+1)" class='game-btn'>+</button>
        Yards
        <button (click)="addYards(-1)" class='game-btn'>-</button>
        <input class="game-input"
            #gameYards
            type="text"
            [value]="yards"
            style="width:20px; text-align: center;"
            (blur)="updateYards(gameYards.value)">
        <button (click)="addYards(+1)" class='game-btn'>+</button>
        <button (click)="resetDownsYards()" class='game-btn'>Reset</button>
    </div>
    <div style="padding-bottom:10px;">
        Ball
        <input 
            type="radio"
            name="ball"
            [checked]="homeBall"
            (change)="updateBall('home')">
        Home Team
        <input 
            type="radio"
            name="ball"
            [checked]="awayBall"
            (change)="updateBall('away')">
        Away Team
    </div>
</div>
<!-------------------->
<!--    Away Team   -->
<div class="team-info">
    <h3>Away Team</h3>
    <div style="padding-bottom:10px;">
        Timeouts
        <br />
        <button (click)="updateAwayTimeouts(-1)" class='game-btn'>-</button>
        <input class="game-input"
            #awayTeamTimeouts
            type="text"
            [value]="awayTimeouts"
            style="width:20px; text-align: center;"
            disabled="disabled">
        <button (click)="updateAwayTimeouts(1)" class='game-btn'>+</button>
    </div>
    <div style="padding-bottom:10px;">
        Score
        <br />
        <div class="score-btn" (click)="updateAwayScore(1)">1</div>
        <div class="score-btn" (click)="updateAwayScore(2)">2</div>
        <div class="score-btn" (click)="updateAwayScore(3)">3</div>
        <div class="score-btn" (click)="updateAwayScore(6)">6</div>
        <br />
        <div class="score-btn" (click)="updateAwayScore(-1)">-1</div>
        <div class="score-btn" (click)="updateAwayScore(-2)">-2</div>
        <div class="score-btn" (click)="updateAwayScore(-3)">-3</div>
        <div class="score-btn" (click)="updateAwayScore(-6)">-6</div>
    </div>
</div>