.banner-game-info {
    height: 50px;
    background-color:darkslategrey;
    float:left;
    color:white;
    text-align: center;
    opacity: 0.7;
}
.banner-timeout {
    width: 60px;
    height: 5px;
    float: left;
}
.banner-default-size {
    width: 200px;
    height: 50px;
    float: left;
}
.banner-right-boarder {
    margin-top: 10px;
    border-right-style: solid;
    border-right-color:slategray;
    border-right-width: 1px;
}
.banner-left-boarder {
    margin-top: 10px;
    border-left-style: solid;
    border-left-color:slategray;
    border-left-width: 1px;
}
.banner-team-info {
    padding-left:10px;
    height: 45px;
    margin-top: 10px;
    width:125px;
    display:inline-block;
    padding-left:10px;
    height: 45px;
    margin-top: 10px;
    width:125px;
    display:inline-block;
}