<div name="scoreBugBanner" style="height: 50px; font-size:25px;">
    <div class="banner-default-size" style="background-color:blueviolet;">
        <img [src]="leftAd">
    </div>
    <div class="banner-default-size"
        [style.color] = "homeFont"
        [style.background-color] = "homeColor">
        <div class="banner-team-info">
            {{homeName}}
        </div>
        <div class="banner-game-ball">
            <img *ngIf="homeBall" src="../../assets/images/football.png">
        </div>
        <div class="banner-score-info">{{homeScore}}</div>
        <div style="margin-top: -10px; height: 5px;">
            <div *ngIf="homeTimeouts >= 1" #team1Timeout1 class="banner-timeout" style="margin-right: 10px;"
                [style.background-color] = "homeFont"> </div>
            <div *ngIf="homeTimeouts >= 2" #team1Timeout2 class="banner-timeout" style="margin-right: 10px;"
                [style.background-color] = "homeFont"> </div>
            <div *ngIf="homeTimeouts >= 3" #team1Timeout3 class="banner-timeout"
                [style.background-color] = "homeFont"> </div>
        </div>
    </div>
    <div class="banner-default-size"
        [style.color] = "awayFont"
        [style.background-color] = "awayColor">
        <div class="banner-team-info">
            {{awayName}}
        </div>
        <div class="banner-game-ball">
            <img *ngIf="awayBall" src="../../assets/images/football.png">
        </div>
        <div class="banner-score-info">{{awayScore}}</div>
        <div style="margin-top: -10px; height: 5px;">
            <div *ngIf="awayTimeouts >= 1" #team2Timeout1 class="banner-timeout" style="margin-right: 10px;"
                [style.background-color] = "awayFont"> </div>
            <div *ngIf="awayTimeouts >= 2" #team2Timeout2 class="banner-timeout" style="margin-right: 10px;"
                [style.background-color] = "awayFont"> </div>
            <div *ngIf="awayTimeouts >= 3" #team2Timeout3 class="banner-timeout" 
                [style.background-color] = "awayFont"> </div>
        </div>
    </div>
    
    <div class="banner-game-info" style="width: 60px;">
        <div class="banner-right-boarder">{{quarter}}</div>
    </div>
    <div class="banner-game-info" style="width: 100px; color:yellow;">
        <div class="banner-right-boarder">{{gameClock}}</div>
    </div>
    <div class="banner-game-info" style="width: 50px;">
        <div *ngIf="!playClockPaused" style="margin-top: 10px;">{{playClock}}</div>
    </div>
    <div class="banner-game-info" style="width: 130px;">
        <div class="banner-left-boarder">{{downs}} & {{yards}}yds</div>
    </div>
    
    <div class="banner-default-size" style="background-color:blueviolet;">
        <img [src]="rightAd">
    </div>
</div>
<hr />